@charset "UTF-8";


@font-face {
    font-family: Android;
    src: url(../font/idroid.otf) format('opentype');
}

@font-face {
    font-family: Bebas;
    src: url(../font/BebasNeue-Regular.ttf) format('truetype');
}

:root{
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #1a5c37;
    --cor4: #063d1e;

    --fontePadrao: Arial, Verdana, Helvetica, sans-serif;
    --fonteDestaque: 'Bebas', sans-serif;
    --fonteAndroid: 'Android', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
    color: white;
    padding: 0px 0px 8px 0px;
}
header h1{
    padding: 20px 0px 20px 0px;
    font-family: var(--fonteDestaque);
    text-align: center;
    text-shadow: 2px 2px 2px black;
}
header p {
    font-family: var(--fontePadrao);
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

header li {
    display: inline;
    margin: 15px;
    font-family: var(--fontePadrao);
    font-weight: bold;
}
main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 25px;
    background-color: white;
}
main h1 {
    font-family: var(--fonteAndroid);
    color: var(--cor3);
}

main h2 {
    font-family: var(--fonteAndroid);
    color: black;
    background-image: linear-gradient(to right, var(--cor1), transparent);
}
main p {
    text-indent: 30px;
    line-height: 25px;
    text-align: justify;
    padding: 10px;
}